.offcanvas-collapse {
  position: fixed;
  top: 56px; /* ความสูง navbar */
  bottom: 0;
  left: 100%;
  width: 250px;
  padding: 1rem;
  background-color: #343a40;
  transition: transform 0.3s ease-in-out;
  z-index: 1045;
}

.offcanvas-collapse.open {
  transform: translateX(-100%);
}
